[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools-pipfile = "==0.5.0"
nox = "==2021.6.12"

[packages]
requests = "==2.26.0"
fake-useragent = "==0.1.11"
typing = "==3.7.4.3"
dataclasses-json = "==0.5.5"
marshmallow = "==3.13.0"

[requires]
python_version = "3.9"
